header {
  height: 100vh;
  padding-top: 6rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA */
.cta {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Social Media Icons */
.header__socials {
  display: flex;
  position: relative;
  gap: 0.8rem;
  justify-content: center;
}

/* Profile Picture */
.profile {
  width: 27rem;
  height: 60rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

/* Scroll Down */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 2.2rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
  header{
    height: 60vh;
  }
}
/* Small Devices */
@media screen and (max-width: 1024px) {
  header{
    height: 100vh;
  }

  .scroll__down{
    display: none;
  }
}