header {
  height: 100vh;
  padding-top: 10rem;
  overflow: hidden;
}

.main__container {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: center;
}

.header__container {
  height: 100%;
  padding-top: 10%;
  padding-left: 20%;
}

h1 span, p b {
  color: var(--color-primary);
}

h2 {
  padding-bottom: 2rem;
}

/* CTA */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
}

/* Profile Picture */
.profile img {
  width: 60%;
  display: block;
  margin: auto;
  border-radius: 10%;
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
  header {
    height: 70vh;
    padding-top: 2rem;
  }

  .header__container {
    padding: 0;
    margin: auto;
  }

  .main__container {
    grid-template-columns: 1fr;
  }

  .main__container h1, h2, h3, p {
    text-align: center;
  }

  .profile img {
    width: 45%;
  }

  .cta {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
  }


}
/* Small Devices */
@media screen and (max-width: 600px) {
  header {
    height: 55vh;
  }

  .header__container {
    padding: 0;
    margin: auto;
  }
  .main__container h3, h2 {
    font-size: 1rem;
  }

  .main__container h1 {
    font-size: 1.5rem;
  }

  .main__container h2 {
    padding-bottom: 0.5rem;
  }

  /* .main__container p {
    font-size: 10px;
  } */

  .cta {
    margin-top: 1rem;
  }

  .profile {
    display: none;
  }

}