.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__container > div {
  background: var(--color-primary);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition) ;
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience__container h3, h4 {
  text-align: center;
  color: var(--color-white);
}

.experience__container h4 {
  margin-bottom: 2rem;
  font-weight: 300;
}

.experience__details li{
  list-style-type: disc;
  margin-bottom: 1rem;
}

/* MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    margin: auto;
  }
}

/* SMALL DEVICES */
@media screen and (max-width: 600px) {
  .experience__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    margin: auto;
    padding: 2rem 1rem;
  }
}
